@model Concesionario.Models.Automoviles

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "Automoviles", FormMethod.Post))
{


    <div class="form-group">
        @Html.LabelFor(x => x.IdMarca, "Marca")
        @Html.DropDownList("IdMarca", (List<SelectListItem>)ViewBag.Marcas, new { @class = "form-control", id = "IdMarca" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.IdModelo, "Modelo")
        @*@Html.DropDownList("IdModelo", (List<SelectListItem>)ViewBag.Marcas, new { @class = "form-control" })*@
        <select id="IdModelo" name="IdModelo" class="form-control"></select>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Dominio, "Dominio")
        @Html.TextBoxFor(x => x.Dominio, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Color, "Color")
        @Html.TextBoxFor(x => x.Color, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Anio, "Año")
        @Html.TextBoxFor(x => x.Anio, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.MotorN, "Número de Motor")
        @Html.TextBoxFor(x => x.MotorN, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.ChasisN, "Número de Chasis")
        @Html.TextBoxFor(x => x.ChasisN, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.RegistradoEn, "Registrado en")
        @Html.TextBoxFor(x => x.RegistradoEn, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Precio, "Precio")
        @Html.TextBoxFor(x => x.Precio, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Observaciones, "Observaciones")
        @Html.TextBoxFor(a => a.Observaciones, new { @class = "form-control" })
    </div>

    <div class="form-group">

        @Html.CheckBox("Titulo", Model.Titulo)
        @Html.LabelFor(x => x.Titulo, "Tiene título")

        @Html.CheckBox("Cedula", Model.Cedula)
        @Html.LabelFor(x => x.Cedula, "Tiene Cedula")

        @Html.CheckBox("F08", Model.F08)
        @Html.LabelFor(x => x.F08, "Tiene F08")

        @Html.CheckBox("F12", Model.F12)
        @Html.LabelFor(x => x.F12, "Tiene F12")

        @Html.CheckBox("Zeta", Model.Zeta)
        @Html.LabelFor(x => x.Zeta, "Tiene Ceta")

        @Html.CheckBox("CompraVenta", Model.CompraVenta)
        @Html.LabelFor(x => x.CompraVenta, "Tiene Compra Venta")
    </div>

    <div class="form-group">
        <td colspan="2"><button type="submit" class="btn btn-primary">Cargar</button></td>
    </div>

}

@Html.ActionLink("Volver al Listado", "Index")

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            function inicializarModelos() {
                var id = $('#IdMarca').find(':selected').val();
                $.get('CargarModelos/' + id, function (data) {
                    $('#IdModelo').replaceWith(data);
                });
            }

            inicializarModelos();
            $('#IdMarca').on('change', inicializarModelos);
        });
    </script>
}
