@model Concesionario.Models.Automoviles
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Editar", "Automoviles", FormMethod.Post))
{
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(x => x.Tipos)
        @Html.DropDownList("IdTipo", (List<SelectListItem>)ViewBag.Tipos, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.IdMarca, "Marca")
        @Html.DropDownList("IdMarca", (List<SelectListItem>)ViewBag.Marcas, new { @class = "form-control", id = "IdMarca" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.IdModelo, "Modelo")
        <select id="IdModelo" name="IdModelo" class="form-control"></select>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Dominio, "Dominio")
        @Html.TextBoxFor(x => x.Dominio, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Color, "Color")
        @Html.TextBoxFor(x => x.Color, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Anio, "Año")
        @Html.TextBoxFor(x => x.Anio, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.MotorN, "Número de Motor")
        @Html.TextBoxFor(x => x.MotorN, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.ChasisN, "Número de Chasis")
        @Html.TextBoxFor(x => x.ChasisN, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.RegistradoEn, "Registrado en")
        @Html.TextBoxFor(x => x.RegistradoEn, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Precio, "Precio")
        @Html.TextBoxFor(x => x.Precio, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Observaciones, "Observaciones")
        @Html.TextBoxFor(a => a.Observaciones, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Estado, "Estado")
        @Html.DropDownList("Estado", (List<SelectListItem>)ViewBag.Estados, new { @class = "form-control" })
    </div>

    <div class="form-group">

        @Html.CheckBox("Titulo", Model.Titulo)
        @Html.LabelFor(x => x.Titulo, "Tiene título")

        @Html.CheckBox("Cedula", Model.Cedula)
        @Html.LabelFor(x => x.Cedula, "Tiene Cedula")

        @Html.CheckBox("F08", Model.F08)
        @Html.LabelFor(x => x.F08, "Tiene F08")

        @Html.CheckBox("F12", Model.F12)
        @Html.LabelFor(x => x.F12, "Tiene F12")

        @Html.CheckBox("Zeta", Model.Zeta)
        @Html.LabelFor(x => x.Zeta, "Tiene Ceta")

        @Html.CheckBox("CompraVenta", Model.CompraVenta)
        @Html.LabelFor(x => x.CompraVenta, "Tiene Compra Venta")
    </div>

    <div class="form-group">
        <td colspan="2"><button type="submit" class="btn btn-primary">Cargar</button></td>
    </div>

}

@Html.ActionLink("Volver al Listado", "Index")

<script>
    var cbMarca = document.getElementById("IdMarca");
    cbMarca.addEventListener("change", Refresh);
    Refresh();

    function Refresh() {
        fetch("@Url.Content("~/Automoviles/CargarModelo")" + "?IdMarca=" + cbMarca.value)
            .then(function (result) {
                if (result.ok) {
                    return result.json();
                }
            })
            .then(function (data){
                console.log(data);
                cbo = document.getElementById("IdModelo");
                cbo.innerHTML = "";
                data.forEach(function (element) {

                    let opt = document.createElement("option");
                    opt.appendChild(document.createTextNode(element.Text));
                    opt.value = element.Value;

                    cbo.appendChild(opt);
                })
            })
    }
</script>

